@model List<MS.Gamification.Areas.Admin.ViewModels.ManageUserViewModel>
@{
    ViewBag.Title = "ManageUsers";
}
@section styles
{
    @Styles.Render("~/Content/datatables")
}
<h2>Manage Users</h2>

@Html.ValidationSummary(false)


<form action="" method="post">
    <table class="table table-striped table-hover" id="users">
        <thead>
        <tr>
            <th><input type="checkbox" id="chkSelectAll" /></th>
            <th>User name</th>
            <th>Email</th>
            <th colspan="3">Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @Html.EditorFor(m=>Model)
        </tbody>
    </table>
    
    @*Multiple Submit buttons*@
    <input class="btn btn-warning" type="submit" value="Resend Invitation" name="action:BatchResendInvitations" />
</form>

    @section scripts
    {
        @Scripts.Render("~/bundles/datatables")
        <script>
            $(document)
                .ready(function() {
                    $('#users').DataTable();
                });
        </script>
    }
