@model MS.Gamification.Areas.Admin.ViewModels.UserAdministration.BatchObservationUserViewModel

<tr>
    <td class="text-nowrap">@Html.CheckBoxFor(m => m.Selected, new { @class = "chkSelect" })</td>
    <td colspan="3">
        @Model.UserName
        @Html.HiddenFor(m => m.UserName)
        @Html.HiddenFor(m => m.UserId)
    </td>
</tr>
