@model dynamic

@{
    ViewBag.Title = "title";
}

<div class="jumbotron masthead">
    <h1>STAR QUEST</h1>
    <p class="lead">Administration dashboard</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>User administration</h2>
        <p>
            <a class="btn btn-default" href="#">Create user accounts &raquo;</a>
        </p>
        <p>
            <a class="btn btn-default" href="#">See account status &raquo;</a>
        </p>
        <p>
            <a class="btn btn-default" href="#">Set user permissions &raquo;</a>
        </p>
    </div>
    <div class="col-md-6">
        <h2>Mission control</h2>
        <p>
            <a class="btn btn-default" href="#">Manage missions &raquo;</a>
        </p>
        <p>
            <a class="btn btn-default" href="#">Manage levels &raquo;</a>
        </p>
        <p>
            <a class="btn btn-default" href="#">Manage tracks &raquo;</a>
        </p>
        <p>
            <a class="btn btn-default" href="#">Manage challenges &raquo;</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Moderation</h2>
        <p>
            <a class="btn btn-default" href="#">Moderation queue &raquo;</a>
        </p>
    </div>
</div>