
@{
    ViewBag.Title = "ManageUsers";
}

<h2>Manage Users</h2>

<table>
    <tr>
        <th>User name</th>
        <th>Email</th>
        <th>Email verified?</th>
        <th>Non-blank password?</th>
        <th>Account locked?</th>
    </tr>
    <tr>
        <td>Miss A Havisham</td>
        <td>bride@solis.com</td>
        <td>
            <i class="fa fa-envelope"></i>
        </td>
        <td>
            <i class="fa fa-key"></i>
        </td>
        <td>
            <i class="fa fa-lock"></i>
        </td>
    </tr>
</table>


