@model dynamic

@{
    ViewBag.Title = "CreateUserAccountsConfirmation";
}

<h2>Create User Accounts - confirmation</h2>
<div class="panel panel-success">
    <div class="panel-heading">Account creations results</div>
    <div class="panel-body">
        <p>User accounts created successfully: 3</p>
        <p>User accounts creation failed: 3</p>
    </div>
</div>
<div class="panel panel-warning">
    <div class="panel-heading">Failures</div>
    <table class="table-bordered">
        <table class="table">
            <thead>
            <tr>
                <th>Email</th>
                <th>Reason for failure</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>darth@darkside.com</td>
                <td>email too dark</td>
            </tr>
            <tr>
                <td>me@myworld.com</td>
                <td>email invalid</td>
            </tr>
            <tr>
                <td>anna@thegables.com</td>
                <td>email too green</td>
            </tr>
            </tbody>
        </table>
    </table>
</div>
<p>
    <a class="btn btn-default" href="#">Retry failed items&raquo;</a>
</p>