@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron masthead">
    <h1>STAR QUEST</h1>
    <p class="lead">A practical observing programme for Monkton Stargazers</p>
    <p>
        <a href="http://monkton-reserve.org/monkton-stargazers" class="btn btn-primary btn-lg" target="_blank">About Monkton Stargazers &raquo;</a>
        <a href="http://monktonstargazers.mobilize.io/users/sign_up" class="btn btn-primary btn-lg" target="_blank">Join now &raquo;</a>
    </p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Discover the night sky</h2>
        <p>The Star Quest programme is designed to take you through observations of the night sky in order of difficulty, starting from simple observations of the moon and all the way through observing distant galaxies and nebulae.</p>
        <h2>Record your observations in your own logbook</h2>
        <p>Observation that you submit form a permanent record which you can review at any time.</p>
        <p>You can submit more than one observation per challenge. Each approved observation awards points, but you can only obtain each badge once.</p>
        <p>Your observations should include date, time, location, and other details of what you have seen. You can then submit it through the website for approval. Each approved observation awards points towards the overall progress in the programme, and completing a “track” awards a badge and a title.</p>
    </div>
    <div class="col-md-6">
        <h2>Take on challenges</h2>
        <p>Star Quest is structured so that each level has a number of challenges of similar difficulty. Within each level, you can choose whichever challenge you want to work on. The challenges are grouped into themed observations, known as “tracks”.
        <p>Completing a track awards a badge and a title and may unlock another level.</p>
        <p>Completing all tracks in a mission awards a special “Legendary” title.</p>
        <h2>Keep track of your progress</h2>
        <p>As you submit observation and progress through the challenges and missions, you will receive email notifying when you have been awarded points or a badge.</p>
        <p>You can view charts of your overall progress and other details of your achievements on your Profile page.</p>
    </div>
</div>