@model dynamic

@{
    ViewBag.Title = "Mission Progress";
}

<div class="panel panel-default">
    <div class="panel-heading">Level 1 Monkton Stargazer</div>
    <div class="panel-body">
        <div class="row trackHeader">
            <div class="col-md-6">Track 1: the moon</div>
            <div class="progress col-md-6">
                <div class="progress-bar progress-success" style="width: 50%"></div>
            </div>
        </div>
        <div class="row trackContent">
            <div class="col-md-10 challenges">
                <div class="row challenge">
                    <div class="col-md-4">See the waxing full moon</div>
                    <div class="col-md-4">
                        <a>Details</a>
                    </div>
                    <div class="col-md-3">
                        <i class="fa fa-square-o"></i>
                        1 point
                    </div>
                    <div class="col col-md-1 btn-sm btn-info">Log <i class="fa fa-angle-double-right"></i></div>
                </div>
                <div class="row challenge">
                    <div class="col-md-4">See the 1st quarter moon</div>
                    <div class="col-md-4">
                        <a>Details</a>
                    </div>
                    <div class="col-md-3">
                        <i class="fa fa-check"></i>
                        1 point
                    </div>
                    <div class="col col-md-1 btn-sm btn-info">Log <i class="fa fa-angle-double-right"></i></div>
                </div>
                <div class="row challenge">
                    <div class="col-md-4">See the gibbous full moon</div>
                    <div class="col-md-4">
                        <a>Details</a>
                    </div>
                    <div class="col-md-3">
                        <i class="fa fa-square-o"></i>
                        1 point
                    </div>
                    <div class="col col-md-1 btn-sm btn-info">Log <i class="fa fa-angle-double-right"></i></div>
                </div>
            </div>
            <div class="col-md-1 filler">filler</div>
            <div class="col-md-1 badge">
                <i class="fa fa-4x fa-android"></i>
            </div>
        </div>
    </div>
</div>