@model dynamic

@{
    ViewBag.Title = "Registration successful";
}

<div class="row padding-row"></div>
<div class="row row-centered">
    <div class="col-md-8 col-centered">
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title dialog-title">
                    <i class="fa fa-check"></i>
                    Registration successful
                </h3>
            </div>
            <div class="panel-body dialog-body">
                However, you will not be able to log in until
                your email address has been verified. Please check your
                email inbox for a verification message.
            </div>
        </div>
    </div>
</div>